[Unit]
Description=My carrental service
After=network-online.target

[Service]
Type=simple
User={{app_user}}
ExecStart=/usr/bin/java -jar {{remote_app_path}}
Restart=always

[Install]
WantedBy=multi-user.target